<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="../js/readMore.js"></script>
</head>

<body class="main">
    <header>
        <div class="container">
            <div class="logo">
                <img src="../img/logo.png">
            </div>
            <a href="../index.html" class="item">Home</a>
            <a href="#" class="item">About</a>
            <a href="events.html" class="item">Events</a>
            <a href="membership.html" class="item">Membership</a>
            <a href="prices.html" class="item">Prices</a>
            <a href="contacts.html" class="item">Contacts</a>
        </div>
    </header>
    <div class="content">
        <div id="eventImg">
            <img src="../img/aboutPic.jpg" alt="">
        </div>
        <div id="aboutPageText">
            <h1>About us</h1>
            <p>One of the oldest human activities is hunting. In the past it has been a source of food, clothing and guarantee
                for development and survival of the human race. Hunting game by means of providing food and clothing to the
                family, become a privilege of the rich people, sport and hobby. Hunting scenes are recreated in paintings,
                sculptures, poems, stories, novels, and theater and film productions. Hunting trophies adorn the interiors
                of our homes, and possession of rich hunting collections, is a matter of honor for many natural history museums
                around the world. Hunting tourism in Bulgaria has a long tradition, governed by law from the 19th century
                onwards. Organized hunting tourism in Bulgaria began in the early 60s in the hunting areas of the forest,
                where are provided a wonderful environment for business meetings, family hiking and equestrian tourism, photo-safari,
                as well as visit of natural and historical sites in the vicinity. The most modern and harmless hunting’s
                forms are photo-hunting and photo-safari. The hunting territory of Bulgaria consists of 500 square kilometers.
                A total of 54 hunting areas for international hunting have been created in the country. Here in Bulgaria
                hunting is offered in special areas, licensed by the government for services of international clients. These
                areas abound in a different game and they are located near the capital and near the second largest city of
                Plovdiv. Distance from Sofia or from Plovdiv to the respective hunting areas is approximately 15 to 20km.</p>
            <div>
                <br>
                <span id="text">
                    According to recent censuses, hunting wild game wealth of Bulgaria is represented by 18 975 red deer, 4 200 fallow deer,
                    69 795 hinds, 1 799 wild bears, 46 400 wild boards, over 930 bears, 2 386 capercaillie, rabbits, partridges,
                    pheasants, and 2 066 mouflon. Very well are developed the new populations of deer and mouflon, as one
                    of the best specimens were shot in our country. For the purposes of international hunting tourism is
                    build a wide network of hunting lodges, shelters, cabins, including about 110 homes and hunting lodges
                    with more than 1 100 beds, operated by highly qualified personnel and hunting guides. All trophies, obtained
                    in the Republic of Bulgaria shall be evaluated by the committee, appointed by the state forest department
                    in individual areas, assessment of hunting trophies on the formulas of CIC. All trophies must be registered
                    in the State Forestry, State Hunting area and objects of Art. 11, par. 2 of the Low of Hunting and Game
                    protection in the place of their production. Probably the most widely practiced sport in the world is
                    fishing. Fishing is still a major occupation of individuals for food and livelihood, but for millions
                    around the world it is a sport and a passionate hobby. It is one of the best drugs against “modern scourge”-
                    stress. It brings incredible emotion and leave unforgettable memories. Fresh air, beautiful scenery,
                    friendly people…
                    <br>
                </span>
            </div>
            <div class="btn-container">
                <button id="toggle">Read More</button>
            </div>
        </div>
    </div>
    <footer>@The Bulgarian Outdoor</footer>
</body>

</html>