<!DOCTYPE html>
<html>

<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../css/styles.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <script src="../js/accordion.js"></script>
</head>

<body class="main">
  <header>
    <div class="container">
      <div class="logo">
        <img src="../img/logo.png">
      </div>
      <a href="../index.html" class="item">Home</a>
      <a href="about.html" class="item">About</a>
      <a href="#" class="item">Events</a>
      <a href="membership.html" class="item">Membership</a>
      <a href="prices.html" class="item">Prices</a>
      <a href="contacts" class="item">Contacts</a>
    </div>
  </header>
  <div class="content">

    <div id="eventsContent">
      <div id="eventsPageText">
        <h1>Best Events</h1>
        <p>
          Can I hunt on Sunday in Connecticut? Sunday hunting is allowed on licensed private shooting preserves and regulated dog training
          areas when the operator has permission from the town. Hunting may also take place on Sunday at permitted field
          trial events. Archery deer hunters can hunt on Sundays on private land only in Deer Managemen t Zones 1, 4b, 5,
          6, 7, 8, 9, 10, 11, and 12 (zone map). Deer Management Zones 2, 3, and 4a are NOT open to Sunday archery deer hunting.
          Landowners hunting with a bow during the "Free Landowner Deer Season" on properties located within Deer Management
          Zones 1, 4b, 5, 6, 7, 8, 9, 10, 11, and 12 may also hunt on Sundays. All archery deer hunting on Sundays must take
          place at least 40 yards away from blazed hiking trails. What is "Prima Facie Evidence" of hunting?
        </p>
        <img src="../img/EventText.jpg" alt="">
        <p>
          Prima facie is a Latin expression that means "on its first evidence, " or "by first instance," or "at first sight." A literal
          translation from Latin to English would be "from first face." Thus, prima facie is applied to hunting as follows:
          if a person possesses a loaded hunting implement while at or while entering or leaving an area where a reasonable
          person would believe the objective was to take wildlife, it would be prima facie evidence of hunting. However,
          an exception to this regulation allows a person to be in possession of a rifle or shotgun with ammunition in the
          magazine one hour before sunrise during the regulated deer and turkey firearms hunting seasons, as long as a live
          round is not in the chamber of the rifle or shotgun.
        </p>
      </div>
      <div id="accordion">
        <dt>
          <a href="">The Arundell Arms 3 - day 3- fish challenge. Wednesday 16th - Friday 18th August</a>
        </dt>
        <dd>
          <img src="../img/event1.jpg" alt="">
          <p>
            The opportunity to fly fish for three of the West Country’s most exciting and iconic fish, the wild trout, the sea trout
            and the bass. Allowing a separate day for each species gives time to fully appreciate these truly wild fish and
            their surroundings. Our guides will take you night fishing for sea trout, followed by a day on the river for
            wild brownies, and then a day on the coast fly fishing for bass. This challenge is aimed at experienced anglers
            who can cast competently and walk a mile. Suitable tackle can be provided if necessary.
          </p>
          <h2>Price: £500 per person (inclusive accommodation)</h2>
        </dd>

        <dt>
          <a href="">The Brothers of Steel - day 3- hunt challenge. April 21st - April 24th</a>
        </dt>
        <dd>
          <img src="../img/event2.jpg" alt="">
          <p>
            The workshop begins 7:30 p.m. on Friday with a “hands-on” specimen preservation session. The registration will be through
            4HOnline. If you do not have a 4HOnline profile, you will need to make one. The profile creation is found on
            the same page as the profile login. Online registration opens February 1st. Registration is limited so do not
            delay. Registration closes: March 15th (or when the workshop fills.) Here is your chance to become certified
            to teach the 4-H Hunting and Outdoor Skills project of the Shooting Sports program. Participate in active learning
            as you become acquainted with this challenging, yet FUN project.
          </p>
          <h2>Price: £500 per person (inclusive accommodation)</h2>
        </dd>

        <dt>
          <a href="">The Hunter.bg - day 5- hunt challenge. July 2nd - July 7th</a>
        </dt>
        <dd>
          <img src="../img/event3.jpg" alt="">
          <p>
            The opportunity to fly fish for three of the West Country’s most exciting and iconic fish, the wild trout, the sea trout
            and the bass. Allowing a separate day for each species gives time to fully appreciate these truly wild fish and
            their surroundings. Our guides will take you night fishing for sea trout, followed by a day on the river for
            wild brownies, and then a day on the coast fly fishing for bass. This challenge is aimed at experienced anglers
            who can cast competently and walk a mile. Suitable tackle can be provided if necessary.
          </p>
          <h2>Price: £500 per person (inclusive accommodation)</h2>
        </dd>
      </div>
    </div>
  </div>
  <footer>@The Bulgarian Outdoor</footer>
</body>

</html>